body {
    background-color: #E4E2DD;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: #00bf63;
}

.main {
    margin-top: 100px;
}

.logo-img {
    display: block;
    border-radius: 25px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.searchbar-input {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding: 10px 30px;
    border: 0.5px solid grey;
    border-radius: 24px;
}

.btn_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;*/
    border: 1px solid gray;
    border-radius: 20px;
    background-color: lightgray;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

#mode_btn {
    position: fixed;
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding: 5px 10px;
    color: #00bf63;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.text_container {
    display: flex;
    justify-content: center
}
