body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#8c52ff, #004aad);
    color: #f9cb72;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 6px solid #004aad;
    margin-bottom: 10px;
}

#bday-age {

    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #f9cb72;
    padding: 5px 10px;
    border-radius: 5px;
    color: #004aad
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #f9cb72;
    border-radius: 10px;
    background-image: url("media/bday-box.png");
    background-size: cover;
    cursor: pointer;
}

#gift-img-happy:hover {
    background-image: url("media/happy-face.png");
}

#gift-img-hot:hover {
    background-image: url("media/cheering-crowd.png");
}

#gift-img-genius:hover {
    background-image: url("media/amazing.png");
}


#gift-img-cheers:hover {
    background-image: url("media/cheers.png");
}

#footer {
    font-style: italic;
    max-width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #f9cb72;
}

