body {
    font-family: "Oxanium", sans-serif;
    margin: 0;
    text-align: center;
    color: #82a5ca;
}

#hero {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2hsenVzb3VmeTA5azJxZm83YngydzlmeWxkYmFlMHNnM211M2JoMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7D4dXVf92frtOGUwZq/giphy.gif");
    /*Gif from gify: Stars Glow GIF by ESA/Hubble Space Telescope*/
    background-size: cover;
    background-position: bottom left;
    font-size: 28px;
    padding: 10px 0 60px 0;
}

#logo {
    width: 50px;
    opacity: 0.5;
    margin-top: 5px;
    border-radius: 18px;
    box-shadow: 5px -5px 10px white;
}

#title {
    text-shadow: 0 0 4px blue;
    letter-spacing: 3px;
}

.btn {
    padding: 6px 12px;
    border-radius: 25px;
    opacity: 0.8;
    background: white;
    border: none;
    font-family: "Oxanium", sans-serif;
    color: #82a5ca;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
}
