body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Navbar*/

header {
    height: 30vh;
    width: 35vh;
    font-family: "Oxanium", sans-serif;
    font-size: x-large;
    line-height: 1.5;
    margin: 35px 0 0 20px;
    text-align: left;
}

.nav_list {
    box-sizing: border-box;
    position: fixed;
    border: 1px solid #82a5ca;
    background-color: #82a5ca;

    opacity: 0.75;
    width: 15vh;
    border-radius: 5px;
    /*    padding: 5px 12px;*/
    top: 40px;
    right: 20px;
}

.nav_list ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 18px;
}

/*Hero1*/

#hero {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2hsenVzb3VmeTA5azJxZm83YngydzlmeWxkYmFlMHNnM211M2JoMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7D4dXVf92frtOGUwZq/giphy.gif");
    /*Gif from gify: Stars Glow GIF by ESA/Hubble Space Telescope*/
    background-size: cover;
    background-position: bottom left;
    text-align: center;
    font-size: 28px;
    padding: 150px 0 60px 0;
    margin-bottom: 20px;
    color: #82a5ca;
    height: 100vh;
    font-family: "Oxanium", sans-serif;
}

#logo {
    width: 80px;
    opacity: 0.5;
    margin-top: 5px;
    border-radius: 18px;
    box-shadow: 5px -5px 10px white;
}

#title {
    text-shadow: 0 0 4px blue;
    letter-spacing: 3px;
    font-size: 250%;
}

.btn {
    padding: 6px 12px;
    border-radius: 25px;
    opacity: 0.8;
    background: white;
    border: none;
    font-family: "Oxanium", sans-serif;
    color: #82a5ca;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    width: 20%;
}

@media (max-width: 768px) {
    #title {
        font-size: 130%;
    }

    .btn {
        width: 40%;
    }
}

/*Hero2*/

#hero2 {
    background-image: url("media/faded-office.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    height: 100vh;
}

#box2 {
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin: 0 0 0 23px;
    padding: 43px 0 43px 43px;
}

#box2 h1 {
    font-size: 400%;
}

#box2 p {
    font-size: 200%;
}

#under_line {
    color: #0ea5e9;
    border-bottom: 3px solid #0ea5e9;
}

#btn2 {
    background-color: #0ea5e9;
    border: none;
    width: 40%;
    margin-top: 2px;
    padding: 8px 4px;
    color: white;
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

footer {
    margin-top: 25px;
    font-family: "Oxanium", sans-serif;
    text-align: center;
    color: #82a5ca;
}

@media (max-width: 480px) {
    #hero2 {
        background-size: cover;
        background-position: center;
    }

    #box2 h1 {
        font-size: 175%;
        width: 40%;
    }

    #box2 p {
        font-size: 130%;
        width: 40%;
    }

    #btn2 {
        font-size: 100%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #hero2 {
        background-size: center;
        background-position: center;
    }

    #box2 h1 {
        font-size: 175%;
        width: 50%;
    }

    #box2 p {
        font-size: 135%;
        width: 50%;
    }

    #btn2 {
        font-size: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #hero2 {
        background-size: center;
        background-position: center;
    }

    #box2 h1 {
        font-size: 260%;
        width: 50%;
    }

    #box2 p {
        font-size: 220%;
        width: 50%;
    }

    #btn2 {
        width: 40%;
        font-weight: 600;
    }
}
