body {
    margin: 0;
    font-family: "Inter", sans-serif;
}


#toggle-btn-container {
  /*  position: fixed;*/
    margin-top: 3px;
    margin-right: 5px;
    padding-bottom: 0;
    display: flex;
    gap: 20px;
 /*   padding: 6px;*/
    height: 35px;
    background-color: #ffffff;
    justify-content: flex-end;
    align-items: center;
}

#toggle-btn {
    color: #6943ff;

    border: 2px outset #6943ff;
    padding: 4px;
    margin-right: 4px;
    border-radius: 20px 0;
}

.night-mode {
    background-color: #273549;
}

#toggle-btn-container.night-mode {
    background-color: #273549;
    color: #ffffff;
}
#toggle-btn.night-mode {
    color: #ffffff;
    border: 2px outset #ffffff;
}



#container {
    /*    border: 3px solid #273549;*/
    /*    border-top-left-radius: 30px;*/
    width: 50%;
    text-align: center;
    margin: 10px auto;
    padding: 0;
}

.box {
    border: 3px solid #6943ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#input-ctnr {
    /*    border: 1px solid black;*/

    background-color: #6943ff;
    border-top-left-radius: 30px;

    color: #ffffff;
}

#input-field {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    width: 24%;
    height: 16%;
    text-align: center;
    font-size: 36px;
    background-color: #6943ff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    -moz-appearance: textfield;
    appearance: textfield;
}

#input-field::placeholder {
    color: #ffffff;
}

#input-field::-webkit-inner-spin-button,
#input-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input-btn {
    margin-top: 26px;
    padding: 9px 28px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #0000000d;
    color: #3d3d3d;
    cursor: pointer;
}

#results-ctnr {
    width: 100%;
    /*  border: 3px solid red;*/
    box-sizing: border-box;
    border-bottom-right-radius: 30px;
}

.input-box {
    width: 80%;
    height: 80%;
    border: 3px solid #ccc1ff;
    background-color: #273549;
    margin: 5px;
    border-top-left-radius: 8px;
    color: #ccc1ff;
    font-size: 20px;
    font-weight: 600;
}

.input-box p {
    font-weight: 200;
    font-size: 15px;
}

/*MEDIA QUIERIES FOR SMALL SCREENS*/

@media (max-width: 600px) {
    #container {
        width: 95vw;
    }

    .input-box {
        width: 80vw;
    }
}
