html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 00;
    font-size: 12px;
}

.bold {
    font-weight: 700;
    font-size: 13px;
}

.mid-txt {
    font-size: 13px;
}

.logo {
    width: 100px;
}

.user-img {
    width: 34px;
    border-radius: 50%;
}
.avatar-img {
    width: 34px;
    border-radius: 50%;
    margin-right: 8px;
}

.icons {
    width: 23px;
    margin-right: 10px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 5px;
    border-bottom: 1px solid lightgrey;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.card-header {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.image {
    width: 100%;

    padding: 15px 0;
}

.btns-container {
    padding-left: 15px;
}

/*MODALS*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 12px 12px 0;
    height: 250px;
    width: 300px;
    background-color: beige;
    border: 1px solid #282828;
    border-radius: 5px;
}

.close-btn-container {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    color: darkmagenta;
    font-weight: 800;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus{
    opacity: 0.5;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.copy {
    font-size: 1.25rem;
    border: 1px solid #252525;
    border-radius: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    /*text-decoration: none;*/
    text-align: center;
}

.copy:hover,
.copy:focus {
    color: blue;
    text-decoration: underline;
    opacity: 0.5;
}

/*MEDIA QUERIES*/

@media (min-width: 600px) {
    body {
        padding: 0 32%;
        /*background-color: red;*/
    }
}
