html, body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
}

.user-img {
    width: 32px;
    border-radius: 50%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.card-header {
    display: flex;
    align-items: center;
    padding-left: 15px
}

.image {
    width: 95%;
    padding: 15px;
}